html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  background: url("Assets/Iteration-1-assets/home-banner.png");
  background-position: center;
  background-size: contain;
  height: 100vh;
}

.yazi {
  color: white;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.btn {
  border-radius: 5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  background-color: rgb(240, 206, 36);
  padding: 0.7rem 3rem;
}
.ayar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
}
